<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!--
      Appenderne "console-json" og "team-logs" er ment å være enten/eller - et log-kall skal aldri ende opp i begge.
      For å sikre at dette skjer, vil "team-logs" filtrere slik at kun kall som har "TEAM_LOGS"-markeren blir sendt,
      mens "console-json" vil filtrere motsatt på samme marker.
    -->
    <appender name="team-logs" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="real-team-logs"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
        <neverBlock>true</neverBlock>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>TEAM_LOGS</marker>
            </evaluator>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
    </appender>

    <appender name="real-team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${NAIS_POD_NAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
            <includeContext>false</includeContext>
            <!--
              I sokos-utbetaling-api har vi slitt med at logging til Team Logs
              innimellom stopper opp.  Det kan se ut til at dette henger sammen
              med logging av (veldig) lange meldinger - type logging av hele
              JSON-response-body vi får fra UR, som kan være >10MB.

              Det er litt uklart hva som får logging til å stoppe helt opp, men
              kjent at Google ikke aksepterer meldinger som er >256k.

              Under er det forsøkt gjort en workaround for dette - inspirert av
              https://github.com/logfellow/logstash-logback-encoder/issues/298
            -->
            <!-- Turn off the default message provider. -->
            <fieldNames>
                <message>[ignore]</message>
            </fieldNames>
            <!-- Outputs the message field, while truncating long messages. -->
            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                <pattern>{"message":"%replace(%message){'^(.{8192}).+(.{2048})$', 'TRUNCATED $1 ... $2'}"}</pattern>
            </provider>
        </encoder>
    </appender>

    <appender name="console-json" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="real-console-json"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
        <neverBlock>true</neverBlock>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>TEAM_LOGS</marker>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>ACCEPT</OnMismatch>
        </filter>
    </appender>

    <appender name="real-console-json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %green(%d{HH:mm:ss}) %cyan([%t]) %boldCyan(%0.-5p) %yellow(%logger{36}) %cyan(%class.%M) : %m%n
            </pattern>
        </encoder>
    </appender>

    <if condition='isDefined("NAIS_CLUSTER_NAME")'>
        <then>
            <root level="INFO">
                <appender-ref ref="console-json"/>
                <appender-ref ref="team-logs"/>
            </root>

            <!--
              Noe av koden vi har lånt fra Team HAG bruker en spesifikk "tjenestekall"-logg for å sende ting til Team Logs (uten at noen
              marker er involvert).
              For å sikre at den lånte koden ikke sender sensitive logger til Loki, lager vi derfor en "tjenestekall"-logger her, og
              videresender meldinger derfra direkte til "real-team-logs" - som ikke har noe filter på marker.
            -->
            <logger name="tjenestekall" level="INFO" additivity="false">
                <appender-ref ref="real-team-logs"/>
            </logger>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>

    <logger name="no.nav.sokos.oppgjorsrapporter" level="INFO"/>
    <logger name="no.nav.security.token.support" level="TRACE"/>
<!--    <logger name="io.micrometer.prometheusmetrics.PrometheusMeterRegistry" level="DEBUG"/>-->
    <logger name="http-client.ereg" level="DEBUG"/>

</configuration>
